/* FOR REGISTRATION */

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #b42d65; 
}

/* Container for form */
.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form title */
.form-title {
  color: #b42d65; 
  text-align: center;
  margin-bottom: 20px;
}

/* Input fields */
.input-field {
  width: 94%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc; 
  border-radius: 4px;
}

/* Error messages */
.error {
  color: #b22d64; 
  margin-bottom: 10px;
}

/* Submit button */
.submit-button {
  font-family: 'Quicksand', sans-serif;
  background-color: #b42d65; 
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

.submit-button:hover {
  background-color: white;
  color: #b42d65;
  font-weight: bold;
  transform: scale(1.00);
}

.cancel-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #801543; 
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.cancel-button:hover {
  background-color: white;
  color: #691237;
  font-weight: bold;
  transform: scale(1.00);
}
