/* FOR HOMEPAGE and About */

body, h1, h2, p {
  margin: 0;
  padding: 0;
}

body, h1, h2, p, table, th, td {
  font-family: 'Quicksand', sans-serif;
}

/* Body styles */
.body {
  font-family: 'Quicksand', sans-serif;
  background-color: #feeff6; 
  color: #2a2a2a; 
}

/* Header styles */
.header {
  background-color: #b22d64; 
  color: white;
  padding: 10px;
  text-align: center;
}

.header-title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700; 
  font-size: 2.5rem; 
  padding: 10px; 
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
}

/* Navigation styles */
.nav {
  text-align: center; 
}

.nav-list {
  list-style-type: none; 
  padding: 0; 
  display: flex; 
  justify-content: center; 
}

.nav-item {
  margin: 0 10px; 
}

.nav-link {
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
  padding: 10px 20px; 
  border-radius: 20px; 
  background-color: #ce638f; 
  color: #ffffff; 
  text-decoration: none; 
  transition: background-color 0.3s, transform 0.2s; 
}

/* Hover effect */
.nav-link:hover {
  background-color: #e07da3; 
  transform: scale(1.05); 
}

.nav-link1 {
  color: #ce638f;
}

.nav-link1:hover {
  text-decoration: underline;
}

.nav-item2 {
  display: inline;
  margin-right: 20px;
  flex-direction: row;
}

.mainpage-image { 
  width: 630px;  
  height: 442.666666667px;
} 

/* Main content styles */
.main-content {
  flex: 1;
  padding: 20px;
  background-color: #ffffff; 
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); 
}

.main-heading {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700; 
  padding: 7px;
  margin-bottom: 20px;
  color: #2a2a2a; 
}

.main-paragraph {
  margin-bottom: 15px; 
  color: #4d4d4d; 
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

/* Footer styles */
.footer {
  text-align: center;
  padding: 15px;
  background-color: #b22d64; 
  color: white;
  width: 100%;
}

.footer-text {
  margin: 0;
}

/*for table*/
table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
}

th, td {
  border: 1px solid #ccc;
  padding: 14px;
  padding-right: 280px;
  text-align: left;
}

th {
  background-color: #d97c9b; 
  color: white; 
}

th:nth-child(3){
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

td:nth-child(3){
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}
    

tr:hover {
  background-color: #fff4f8; 
}

/* General button styles */

.delete_button {
    font-size: 20px;
    padding: 4px 20px 4px 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #d8780a;
    color: white;
    border-radius: 20px;
    text-decoration: none

}

.edit_button {
    font-size: 20px;
    padding: 4px 20px 4px 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #e07da3;
    color: white;
    border-radius: 20px;
    text-decoration: none
}